body {
  background-image: url("https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBsYW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  height: 100%;
}

#navList {
  font-size: 50px;
  font-family: "Amatic SC", cursive !important;
}
#photo {
  height: 330px;
  width: 250px;
  border-radius: 25%;
  margin-top: 10%;
  margin-left: 40px;
  padding: 30px;
}

#about {
  color: rgb(245, 238, 197);
  font-size: 15px;
  font-family: "tahoma" !important;
  margin-top: 11%;
  padding: 20px;
  max-width: 500px;
}

/* .media {
  display: flex;
  max-height: 1000px;
  max-width: 1000px;
} */

#mern {
  height: 150px;
  width: 300px;
  margin-left: 275px;
  margin-bottom: 100px;
  padding: 25px;
}
