body {
  background-image: url("https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBsYW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

h3 {
  font-size: 60px !important;
  font-weight: bold !important;
  font-family: "Rock Salt", cursive !important;
  margin-left: 0px !important;
  margin-top: 100px !important;
  color: rgb(245, 238, 197) !important;
}

/* .media {
  display: inline-block !important;
  /* float: right; */
/* font-size: 40px;
  margin-left: 400px;
} */
*/ nav {
  float: clear;
}

#navList {
  font-size: 50px;
  font-family: "Amatic SC", cursive !important;
}

/* #icons {
  color: rgb(245, 238, 197);
} */

#photo {
  height: 250px;
  width: 200px;
  border-radius: 35%;
}

#about {
  color: rgb(245, 238, 197);
  font-size: 15px;
  font-family: "tahoma" !important;
}
