#jumbo {
  background-color: #315e33;
}

#image {
  border-radius: 15%;
  position: absolute;
}

#contact {
  color: rgb(245, 238, 197);
  font-size: 30px;
}

#header {
  color: rgb(245, 238, 197);
  padding: 20px;
}
